{% extends '::main_layout.html.twig' %}
    
{% block body %}
    <h4>Esta seguro que desea eliminar la PC?</h4>
        <a href="{{ path('reporte_pc_pc_delete', {id: id}) }}" class="btn btn-info" role="button">
        <span class="glyphicon glyphicon-trash"></span> Eliminar</a>
        <a href="{{ path('reporte_pc_pc_index') }}" class="btn btn-info" role="button">
        <span class="glyphicon glyphicon-circle-arrow-left"></span> Cancelar</a>
{% endblock %}                  


