{% form_theme form '::form_horizontal.html.twig' %}

{% extends '::main_layout.html.twig' %}

{% block body %}
    <a href="{{ path('reporte_pc_pc_add') }}" class="btn btn-info" role="button">
    <span class="glyphicon glyphicon-floppy-disk"></span> Adicionar PC</a><br><br>
    
    {{ form(form) }}
{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ckeditor/ckeditor.js') }}"></script>
{% endblock %}

