{% extends '::main_layout.html.twig' %}
    
{% block body %}
    <h4>Esta seguro que desea eliminar el Usuario?</h4>
        <a href="{{ path('reporte_users_default_delete', {id: id}) }}" class="btn btn-info" role="button">
        <span class="glyphicon glyphicon-trash"></span> Eliminar</a>
        <a href="{{ path('reporte_users_default_index') }}" class="btn btn-info" role="button">
        <span class="glyphicon glyphicon-circle-arrow-left"></span> Cancelar</a>
{% endblock %}             


