/*
    Hoja de estilo para la pagina de imprimir una OT
*/

#content 
{
    margin-top: 0px;
    margin-bottom: 25px;
    padding: 0px;
    text-align: left;
    height: auto;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

#header 
{
    width: auto;
    margin: 0;
    height: 90px;
    background-repeat: no-repeat;
    padding-top: 15px;
}

* 
{
    margin: 0;
    padding: 0;
}

body 
{
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 10px;
}

h1 
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: normal;
}

p 
{
    font-size: 12px;
}

tr 
{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

table 
{
    border-color: gray;
}

.cel 
{
    border: 1px solid #000;
    text-align: center;
}
