{% extends '::main_layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 col-lg-4">
            {{ include('ReporteUserBundle:Default:login.html.twig') }}
        </div>
    </div>
{% endblock %}                  

